@font-face {
    font-family: galfont;
    src: url("/fontes/galfont-Regular.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: galfont;
  background: linear-gradient(135deg, #FF6B35 50%, #FF8C42 50%);
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  top: 0;
}

header img {
  height: 60px;
  cursor: pointer;
}

.links a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: color 0.3s;
}

.links a:hover {
  font-size: large;
  text-decoration: underline;
  transition: 0.7s;
  color: #000;
}

.link a{
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: color 0.3s;
}

.link a:hover {
  font-size: large;
  text-decoration: underline;
  transition: 0.7s;
  color: #000;
}

.hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
}

.hero-content {
  max-width: 800px;
}

.hero-content a {
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 30px;
  background: #ffcc00;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.2s, background 0.3s;
  text-decoration: none;
  color: #000;
}

.container {
    width: 600px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.header-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 12px;
    color: #555;
    border-bottom: 1px solid #ddd;
}   

.header-row p {
    width: 33%;
    text-align: center;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.item-info {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 33%;
}

.item-info img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.valor {
    width: 33%;
    text-align: center;
    & p {
      font-family: Arial, Helvetica, sans-serif;
    }
}

.quantidade {
    display: flex;
    align-items: center;
    gap: 5px;
}
.quantidade input {
    width: 40px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-remover {
    background: #ff4b4b;
    color: #fff;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.final {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    font-size: 18px;
    & p {
      font-family: Arial, Helvetica, sans-serif;
    }
}
.btn-finalizar {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #33c2ff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

